@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');


.navbar {
    width: 100%;
    height: 75px;
    background-color: #000000;
}

.navbar .navbar-container {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.links li {
    display: inline-block;
}

.links li a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;

    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 20px;
}

.links li a:hover {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #EC7979;
}

.links li a:active {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #AB4949;
}

.banner {
    background-image: linear-gradient(#00000080, #00000080), url(../image/image\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    height: 1026px;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner-container {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
}

.banner-header {
    width: 50%;
    padding: 10px;
}

.banner-form {
    background-color: #FFFFFF;
    width: 40%;
    height: 63%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.banner-form form input {
    margin-top: 80px;
    display: flex;
}

.banner-form__text {
    width: 100%;
}

.banner-form__button {
    width: 100%;
    height: 60px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    background-color: #EC7979;
    border: none;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
}

.banner-form__p {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;

    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;
}

.banner-form__p span {
    color: #EC7979;
}

.banner-header__p {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 50px;
    width: 270px;
}

.banner-header__h1 {
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner-header__line {
    padding-top: 50px;
    border-top: 1px solid #FFFFFF;
    width: 170px;
}

.banner-header__button {
    background-color: #ec797900;
    width: calc(50% - 15px);
    height: 58px;
    border: 1px solid #FFFFFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    display: block;
}

.banner-header__button:hover {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC7979;
    border-color: #EC7979;
}

.banner-header__button:active {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #AB4949;
    color: #FFFFFF;
}

.banner-form__button {
    background-color: #EC7979;
    border: none;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
}

.banner-form__button:hover {
    background-color: #AB4949;
}

.banner-form__button:active {
    background-color: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.social {
    background-color: #F8EFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.social-container {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.social-text {
    width: 45%;
    padding-bottom: 30px;
}

.social-icons i {
    padding: 10px;
    color: #CCCCCC;
}

.social-text__p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #86878B;
    padding-top: 20px;
}

.social-text__h1 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding-top: 20px;
}

#burgertoogle,
.burger-button {
    display: none;
}

.burger-button {
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.burger-button__line {
    width: 100%;
    height: 5px;
    background-color: white;
}

#burgertoogle:checked~.burger-button .burger-button__line {
    position: absolute;
}

#burgertoogle:checked~.burger-button .line2 {
    display: none;
}

#burgertoogle:checked~.burger-button .line1 {
    margin-top: 10px;
    transform: rotate(45deg);
}

#burgertoogle:checked~.burger-button .line3 {
    margin-top: 10px;
    transform: rotate(135deg);
}

.navbar-wrap {
    display: flex;
}

.navbar-wrap__mobile {
    display: none;
}

.navbar-container__mobile .logo {
    display: none;
}

.open{
    display: flex !important;
}




.awesome-block{
    width: calc(100% / 3px);
    margin: auto; 
    text-align: center;
}

.awesome-blocks{
    display: flex; 
    margin: 0 auto;
}

.awesome-text{
    text-align: center;
}

.line{
    color:#EC7979;
    width: 170px;
    border-top: 1px #EC7979 solid;
    margin: auto;
}

.awesome-text h2{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 36px;
    padding: 40px;
}

.awesome-text h5{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 18px;
    padding: 40px;
    opacity: 0.5;
}

.awesome-h4{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 700;
    color:#000000;
    font-size: 24px;
    padding: 40px;
}

.awesome-h5{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 18px;
}

.awesome{
    padding-bottom: 60px;
}


.tabs{
    padding-top: 60px;
    padding-bottom: 60px;
}

.tab-content__text{
    width: 570px;
    float: left;
    padding: 64px;
}

.tab-content__text h1{
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    padding-bottom: 62px;
}

.tab-content__text p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 30px;
}

.tab-wrapper__title{
    padding: 4px 8px;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin-bottom: -1px;
    width: 203px;
    text-align: center;
}

.tab-wrapper__tab-action{
    display: none;
}

.tab-wrapper__content{
    border:  1px solid #C6CBCD;
    display: none; 
} 

#tab1:checked ~ .content1{  
    display: block;
}

#tab2:checked ~ .content2{  
    display: block;
}

#tab3:checked ~ .content3{  
    display: block;
}

#tab1:checked ~ .label1{
    border: 1px solid #C6CBCD;
    border-bottom-color: white; 
    border-bottom-width: 2px;
}

#tab2:checked ~ .label2{
    border: 1px solid #C6CBCD;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

#tab3:checked ~ .label3{
    border: 1px solid #C6CBCD;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.tab-content__button{
    background-color: #EC7979;
    width: 270px;
    height: 58px;
    border: none;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color:#FFFFFF;
    text-align: center;
}

.tab-content__button:hover{
    background-color: #AB4949;
}

.tab-content__button:active{
    background-color: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing{
    width: 1508px;
    margin-left: -165px;
    background-color: #F5F5F5;
    display: flex; 
    flex-direction: column;
    padding-bottom: 60px;
}

.section__cards{
    margin-left: 165px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
}

.card:hover{
    margin-top: -20px;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.card__name{
    background-color: #FFFFFF;
    width: 370px;
    height: 50px;
    border: 1px solid #F5F5F5;
    color:#86878B;
    text-transform:capitalize;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center; 
}

.card__name_mod{
    color:#F5F5F5;
    background-color: #333333;
    width: 370px;
    height: 50px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    height: 100px;
}

.card__name_mod:first-child{
    height: 60px;
}

.card__name_mod1{
    background-color: #333333;
    width: 370px;
    height: 50px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__line{
    margin: auto;
    width: 170px;
    border-top: 1px solid #EC7979;
}

.header__h1{
    padding-bottom: 50px;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.header__p{
    padding: 70px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.5;
}

.customers{
    display: flex;
    flex-direction: column;
    margin-bottom:50px;
}

.customers__customer{
    flex-direction: row;
    justify-content: center;
}

.customer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer__text{
    width: 370px;
    height: 180px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #E2E2E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.customer__1::after{
    content: '\00A0'; 
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    position: relative;
    bottom: 140px;
    left: 80px;
}

.customer__1{
    display: flex;
    flex-direction: column;
}

.customer__photo{
    display: flex;
    flex-direction: row;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    width: 70px;
    height: 70px;
}

.customer__h4{
    margin-left: 40px;
    flex-direction: column;
}

.customer__h4 p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}
.design-header {
    background-image: linear-gradient(#00000080, #00000080), url(../image/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 442px;
    width: 100%;
}

.design-header .header__p {
    color: #FFFFFF;
}

.design-header .header__h1 {
    color: #FFFFFF;
    padding-top: 50px;
}

.design-header .header__line {
    border-top: 1px solid #FFFFFF;
}

.design-header__button {
    background-color: #ec797900;
    width: 370px;
    height: 58px;
    border: 1px solid #FFFFFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.design-header__button:hover {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC7979;
    border-color: #EC7979;
}

.design-header__button:active {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #AB4949;
    color: #FFFFFF;
}

footer {
    background-color: #000000;
    color: white;
    flex-direction: column;
    align-items: center;
}

.footer-social {
    padding: 30px 400px 30px 400px;
    display: flex;
    justify-content: space-between;
}

.footer-social i {
    height: 50px;
    width: 50px;
    background-color: #000000;
    color: white;
    border-color: none;
    object-fit: cover;
    object-position: left;

    outline: 0;
}

.footer-social i:hover {
    background-color: #EC7979;
}

.footer-social i:active {
    background-color: #AB4949;
}

.footer-social button {
    border: none;
}

.footer-bottom {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF80;
    padding-bottom: 30px;
}

.contact {
    display: block;
    max-width: 1170px;
    width: 100%;
    padding-bottom: 60px;
    margin: 0 auto;
}

.contact__form .tab-content__button {
    width: 370px;
    margin: 0 auto;
    display: block;
}

.form__all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form__left {
    width: 45%;
    display: flex;
    flex-direction: column;
}

input::placeholder {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}

.textform {
    width: 100%;
    outline: 0;
    border: none;
    border-bottom: 1px solid #86878B;
    margin-bottom: 60px;
}

textarea {
    resize: none;
}

textarea::placeholder {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}

@media screen and (max-width: 890px) {
    .content-wrapper__image img {
        width: 100%;
    }

    .content-wrapper__text {
        width: 80%;
    }

    .tab-content__button {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 1024px) {
    .banner-form__p {
        font-size: 18px;
    }

    .banner-header__h1 {
        font-size: 36px;
    }

    .social-container {
        width: auto;
    }

    .social-icons i {
        padding: 5px;
    }

    .content-wrapper__text p {
        font-size: 14px;
    }

    .content-wrapper__text h1 {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .awesome-blocks {
        flex-wrap: wrap;
    }

    .section__cards {
        width: auto;
    }

    .card__name {
        width: calc(100% - 40px) / 3;
    }

    .customer__h4 {
        margin-left: 20px;
        font-size: 18px;
    }

    .contact {
        max-width: auto;
    }

    .footer-social {
        padding: 30px 200px 30px 200px;
    }
}

@media screen and (min-width: 321px) and (max-width: 640px) {

    .banner-container {
        margin-top: 10px;
        flex-direction: column;
    }

    .banner-header {
        width: 100%;
    }

    .banner-form {
        height: 39%;
    }

    .banner-header__button {
        margin: 0 auto;
    }

    .banner-header {
        padding: 0;
    }

    .banner-header__line {
        margin: 0 auto;
    }

    .banner-header__h1 {
        text-align: center;
        font-size: 36px;
    }

    .banner-header__p {
        text-align: center;
        width: auto;
    }

    .banner-img {
        display: none;
    }

    .banner-form__p {
        padding-top: 30px;
        padding-bottom: 0;
        font-size: 14px;
    }

    .banner-form {
        margin-top: 40px;
        width: 100%;
        box-sizing: border-box;
    }

    .banner-form form input {
        margin-top: 50px;
    }

    .social-container {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .social-text {
        width: 100%;
        padding-bottom: 30px;
    }

    .social-text__h1 {
        text-align: center;
    }

    .social-text__p {
        text-align: center;
    }

    .social-icons i {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .tab-wrapper__title {
        width: auto;
    }

    .content-wrapper__text h1 {
        font-size: 18px;
        text-align: center;
        padding-bottom: 60px;
    }

    .content-wrapper__text {
        width: 100%;
        padding: 10px;
        padding-top: 60px;
        box-sizing: border-box;
    }

    .tab-content__button {
        display: block;
        margin: 0 auto;
        width: calc(100% - 20px);
        margin-bottom: 30px;
    }

    .content-wrapper__text {
        border: 1px solid #C6CBCD;
        border-top-color: white;
    }

    .content-wrapper__text p {
        font-size: 13px;
        padding-bottom: 60px;
        text-align: center;
    }

    .content-wrapper__image img {
        display: none;
    }

    .awesome-blocks {
        display: flex;
        flex-direction: column;
    }

    .pricing {
        flex-direction: column;
    }

    .section__cards {
        width: 100%;
        flex-direction: column;
    }

    .card__name {
        width: 288px;
    }

    .header__p {
        padding: 50px 10px;
    }

    .customers__customer {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .customer {
        box-sizing: border-box;
        width: 100%;
    }

    .customer .customer__1 {
        width: 100%;
        transition: all 0.15s ease;
        display: none;
        margin-left: 10px;

    }

    .customer-dots {
        padding-top: 30px;
        display: flex;
        margin: 5px;
        justify-content: space-around;
    }

    .customer-dots label:hover {
        background-color: #86878B;
    }

    .customer__h4 {
        font-size: 14px;
    }

    .customer-dots label {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #86878B;
        cursor: pointer;
        transition: all 0.15s ease;
    }

    #dot1:checked~.customer1 {
        display: block;
    }

    #dot2:checked~.customer2 {
        display: block;
    }

    #dot3:checked~.customer3 {
        display: block;
    }

    .customer__1::after {
        bottom: 110px;
    }

    .design-header__button {
        width: 288px;
    }

    .form__all {
        flex-direction: column;
    }

    .form__left {
        width: 100%;
    }

    .contact__form .tab-content__button {
        width: 288px;
    }

    .footer-social i {
        height: 27px;
        width: 26px;
        font-size: 26px;
    }

    .footer-social {
        padding: 30px 0;
    }
}

@media screen and (max-width: 320px) {

    .banner-container {
        margin-top: 10px;
        flex-direction: column;
    }

    .banner-header {
        width: 100%;
    }

    .banner-form {
        height: 39%;
    }

    .banner-header__button {
        margin: 0 auto;
    }

    .banner-header {
        padding: 0;
    }

    .banner-header__line {
        margin: 0 auto;
    }

    .banner-header__h1 {
        text-align: center;
        font-size: 36px;
    }

    .banner-header__p {
        text-align: center;
        width: auto;
    }

    .banner-img {
        display: none;
    }

    .banner-form__p {
        padding-top: 30px;
        padding-bottom: 0;
        font-size: 14px;
    }

    .banner-form {
        margin-top: 40px;
        width: 100%;
        box-sizing: border-box;
    }

    .banner-form form input {
        margin-top: 50px;
    }

    .social-container {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .social-text {
        width: 100%;
        padding-bottom: 30px;
    }

    .social-text__h1 {
        text-align: center;
    }

    .social-text__p {
        text-align: center;
    }

    .social-icons i {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .tab-wrapper__title {
        width: auto;
    }

    .content-wrapper__text h1 {
        font-size: 18px;
        text-align: center;
        padding-bottom: 60px;
    }

    .content-wrapper__text {
        width: 100%;
        padding: 10px;
        padding-top: 60px;
        box-sizing: border-box;
    }

    .tab-content__button {
        display: block;
        margin: 0 auto;
        width: calc(100% - 20px);
        margin-bottom: 30px;
    }

    .content-wrapper__text {
        border: 1px solid #C6CBCD;
        border-top-color: white;
    }

    .content-wrapper__text p {
        font-size: 13px;
        padding-bottom: 60px;
        text-align: center;
    }

    .content-wrapper__image img {
        display: none;
    }

    .awesome-blocks {
        display: flex;
        flex-direction: column;
    }

    .pricing {
        flex-direction: column;
    }

    .section__cards {
        width: 100%;
        flex-direction: column;
    }

    .card__name {
        width: 288px;
    }

    .header__p {
        padding: 50px 10px;
    }

    .customers__customer {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .customer {
        box-sizing: border-box;
        width: 100%;
    }

    .customer .customer__1 {
        width: 100%;
        transition: all 0.15s ease;
        display: none;
        margin-left: 10px;

    }

    .customer-dots {
        padding-top: 30px;
        display: flex;
        margin: 5px;
        justify-content: space-around;
    }

    .customer-dots label:hover {
        background-color: #86878B;
    }

    .customer__h4 {
        font-size: 14px;
    }

    .customer-dots label {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #86878B;
        cursor: pointer;
        transition: all 0.15s ease;
    }

    #dot1:checked~.customer1 {
        display: block;
    }

    #dot2:checked~.customer2 {
        display: block;
    }

    #dot3:checked~.customer3 {
        display: block;
    }

    .customer__1::after {
        bottom: 110px;
    }

    .design-header__button {
        width: 288px;
    }

    .form__all {
        flex-direction: column;
    }

    .form__left {
        width: 100%;
    }

    .contact__form .tab-content__button {
        width: 288px;
    }

    .footer-social i {
        height: 27px;
        width: 26px;
        font-size: 26px;
    }

    .footer-social {
        padding: 30px 0;
    }

    .navbar-wrap__mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000000;
        flex-direction: column;
        animation: burger 0.4s;
    }

    @keyframes burger {
        from {opacity: 0}
        to {opacity: 1}
    }

    .burger-button {
        display: flex;
    }

    .navbar-wrap {
        display: none;
    }

    .logo {
        display: none;
    }

    .links li {

        display: flex;
        flex-direction: row;
    }

    .links li a {
        width: 100%;
    }
}