@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.about{
    width: 1508px;
    margin-left: -165px;
    background-color: #F5F5F5;
    display: flex; 
    flex-direction: column;
    padding-bottom: 60px;
}

.section__pics{
    margin-left: 165px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.pic{
    display: flex;
    flex-direction: column;
}

.pic:hover{
    margin-top: -20px;
    /* box-shadow: 0.5em 0.5em 3em #95E1D3; */
    /* background: url(./assets/img/Rectangle4.png) */
    box-shadow:
    1px 1cqb #95E1D3,
    2px 2px #95E1D3,
    3px 3px #95E1D3,
    4px 4px #95E1D3,
    5px 5px #95E1D3,
    6px 6px #95E1D3,
    7px 7px #95E1D3;
  -webkit-transform: translateX(-20px);
  transform: translateX(-10px);
}


.header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


hr{
    margin: auto;
    width: 170px;
    height: 4px;
    border: none;
    background-color: #EC7979;
}

.header__h1{
    padding-bottom: 50px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}

.header__h2{
    padding-bottom: 50px;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.header__p{
    padding: 70px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.5;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

