@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
.awesome-block{
    width: calc(100% / 3px);
    margin: auto; 
    text-align: center;
}

.awesome-blocks{
    display: flex; 
    margin: 0 auto;
}

.awesome-text{
    text-align: center;
}

.line{
    color:#EC7979;
    width: 170px;
    border-top: 1px #EC7979 solid;
    margin: auto;
}

.awesome-text h2{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 36px;
    padding: 40px;
}

.awesome-text h5{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 18px;
    padding: 40px;
    opacity: 0.5;
}

.awesome-h4{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 700;
    color:#000000;
    font-size: 24px;
    padding: 40px;
}

.awesome-h5{
    font-family: Raleway, 'Courieer New', Courier, monospace;
    font-weight: 400;
    color:#000000;
    font-size: 18px;
}

.awesome{
    padding-bottom: 60px;
}


.tabs{
    padding-top: 60px;
    padding-bottom: 60px;
}

.tab-content__text{
    width: 570px;
    float: left;
    padding: 64px;
}

.tab-content__text h1{
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    padding-bottom: 62px;
}

.tab-content__text p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 30px;
}

.tab-wrapper__title{
    padding: 4px 8px;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin-bottom: -1px;
    width: 203px;
    text-align: center;
}

.tab-wrapper__tab-action{
    display: none;
}

.tab-wrapper__content{
    border:  1px solid #C6CBCD;
    display: none; 
} 

#tab1:checked ~ .content1{  
    display: block;
}

#tab2:checked ~ .content2{  
    display: block;
}

#tab3:checked ~ .content3{  
    display: block;
}

#tab1:checked ~ .label1{
    border: 1px solid #C6CBCD;
    border-bottom-color: white; 
    border-bottom-width: 2px;
}

#tab2:checked ~ .label2{
    border: 1px solid #C6CBCD;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

#tab3:checked ~ .label3{
    border: 1px solid #C6CBCD;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.tab-content__button{
    background-color: #EC7979;
    width: 270px;
    height: 58px;
    border: none;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color:#FFFFFF;
    text-align: center;
}

.tab-content__button:hover{
    background-color: #AB4949;
}

.tab-content__button:active{
    background-color: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing{
    width: 1508px;
    margin-left: -165px;
    background-color: #F5F5F5;
    display: flex; 
    flex-direction: column;
    padding-bottom: 60px;
}

.section__cards{
    margin-left: 165px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
}

.card:hover{
    margin-top: -20px;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.card__name{
    background-color: #FFFFFF;
    width: 370px;
    height: 50px;
    border: 1px solid #F5F5F5;
    color:#86878B;
    text-transform:capitalize;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center; 
}

.card__name_mod{
    color:#F5F5F5;
    background-color: #333333;
    width: 370px;
    height: 50px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    height: 100px;
}

.card__name_mod:first-child{
    height: 60px;
}

.card__name_mod1{
    background-color: #333333;
    width: 370px;
    height: 50px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__line{
    margin: auto;
    width: 170px;
    border-top: 1px solid #EC7979;
}

.header__h1{
    padding-bottom: 50px;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.header__p{
    padding: 70px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.5;
}

.customers{
    display: flex;
    flex-direction: column;
    margin-bottom:50px;
}

.customers__customer{
    flex-direction: row;
    justify-content: center;
}

.customer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer__text{
    width: 370px;
    height: 180px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #E2E2E2;
    border-radius: 10px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.customer__1::after{
    content: '\00A0'; 
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    position: relative;
    bottom: 140px;
    left: 80px;
}

.customer__1{
    display: flex;
    flex-direction: column;
}

.customer__photo{
    display: flex;
    flex-direction: row;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.customer__h4{
    margin-left: 40px;
    flex-direction: column;
}

.customer__h4 p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}